<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>蜂眼开放平台代理下载</title>
    <link rel="shortcut icon" href="/regedit_static/img/logo.png">
    <link rel="stylesheet" href="regedit_static/css/app.css">
</head>
<body>
<div class="container" id="container">
    <div class="header">
        <p>蜂眼开放平台代理下载(<span class="total">0</span>条记录)</p>
    </div>
    <div class="main">
        <table class="main-table">
            <thead>
                <tr>
                    <th style="border-bottom:1px solid #fff">代理程序安装包</th>
                    <th style="border-bottom:1px solid #fff">操作</th>
                </tr>
            </thead>
            <tbody class="tbd">
                <!--<tr>-->
                    <!--<td style="border-bottom:1px solid #fff">111</td>-->
                    <!--<td style="border-bottom:1px solid #fff">-->
                        <!--<a class="btn">下载</a>-->
                    <!--</td>-->
                <!--</tr>-->
            </tbody>
        </table>
    </div>

    <div class="main-placeholder">
        <p>尚未有蜂眼开放平台代理程序安装包。</p>
    </div>

    <div class="shadow"></div>

    <div class="modal">
        <div class="modal-header">
            <p>授权码校验</p>
        </div>
        <div class="modal-main">
            <div class="main-cell">
                <div class="main-cell-left">
                    安装包：
                </div>
                <div class="main-cell-right">
                    <input type="text" disabled value="" class="cell-name"/>
                </div>
            </div>
            <div class="main-cell">
                <div class="main-cell-left">
                    授权码：
                </div>
                <div class="main-cell-right">
                    <input type="password" class="checkCode" placeholder="请输入授权码"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-button sure">确定</button>
            <button class="modal-button cancel">取消</button>
        </div>
    </div>

</div>
<script src="regedit_static/js/jquery-1.8.3.min.js"></script>
<script src="regedit_static/js/app.js"></script>
</body>
</html>